body {
  margin: 0;
  background-color: #f6f6f6;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 1.2rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  color: #fff;
  background-color: #0969fa;
  margin-bottom: 10px;
}

.header_search input[type=text] {
  padding: 6px;
  border: none;
}

.header_search input[type=submit] {
  float: right;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
}

.wrapper {
  padding: 0 1rem;
}

.news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 2rem;
}

.news_card {
  text-decoration: none;
  color: #080808;
  background-color: #fff;
  padding: 20px;
}

.news_card:hover {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}
a{
  text-decoration: none;
}
.news-single {
  background-color: #fff;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
}

.error-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*# sourceMappingURL=style.css.map */

/* login */
.form-modal{
  position:relative;
  width:450px;
  height:auto;
  margin-top:4em;
  left:50%;
  transform:translateX(-50%);
  background:#fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.1)
}
.form-modal .btn{
  border-radius: 20px;
  border:none;
  font-weight: bold;
  font-size:1.2em;
  padding:0.8em 1em 0.8em 1em!important;
  transition:0.5s;
  border:1px solid #ebebeb;
  margin-bottom:0.5em;
  margin-top:0.5em;
}


.form-modal .login , .form-modal .signup{
  background:#2250e9;
  color:#fff;
}

.form-modal .login:hover , .form-modal .signup:hover{
  background:#222;
}

.form-toggle{
  position: relative;
  width:100%;
  height:auto;
}

.form-toggle button{
  width:50%;
  float:left;
  padding:1.5em;
  margin-bottom:1.5em;
  border:none;
  transition: 0.2s;
  font-size:1.1em;
  font-weight: bold;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.form-toggle button:nth-child(1){
  border-bottom-right-radius: 20px;
}

.form-toggle button:nth-child(2){
  border-bottom-left-radius: 20px;
}

#login-toggle{
  background:#2250e9;
  color:#ffff;
}

.form-modal form{
  position: relative;
  width:90%;
  height:auto;
  left:50%;
  transform:translateX(-50%);  
}

#login-form , #signup-form{
  position:relative;
  width:100%;
  height:auto;
  padding-bottom:1em;
}

#signup-form{
  display: none;
}


#login-form button , #signup-form button{
  width:100%;
  margin-top:0.5em;
  padding:0.6em;
}

.form-modal input{
  position: relative;
  width:100%;
  font-size:1em;
  padding:1.2em 1.7em 1.2em 1.7em;
  margin-top:0.6em;
  margin-bottom:0.6em;
  border-radius: 20px;
  border:none;
  background:#ebebeb;
  outline:none;
  font-weight: bold;
  transition:0.4s;
}

.form-modal input:focus , .form-modal input:active{
  transform:scaleX(1.02);
}

.form-modal input::-webkit-input-placeholder{
  color:#222;
}


.form-modal p{
  font-size:16px;
  font-weight: bold;
}

.form-modal p a{
  color:#2250e9;
  text-decoration: none;
  transition:0.2s;
}

.form-modal p a:hover{
  color:#222;
}


.form-modal i {
  position: absolute;
  left:10%;
  top:50%;
  transform:translateX(-10%) translateY(-50%); 
}

.fa-google{
  color:#dd4b39;
}

.fa-linkedin{
  color:#3b5998;
}

.fa-windows{
  color:#0072c6;
}

.-box-sd-effect:hover{
  box-shadow: 0 4px 8px hsla(210,2%,84%,.2);
}

@media only screen and (max-width:500px){
  .form-modal{
      width:100%;
  }
}

@media only screen and (max-width:400px){
  i{
      display: none!important;
  }
}
/* user icon */
.user-icon{
  position: absolute!important; /*Important used only to example. Could be overrated with hierarchy*/
  right: 220px;
}

/* horiontal line */

.line-fact {

  text-align: center;
  border-bottom: 2px solid rgb(13, 59, 211);
  line-height: 0.3em;
  margin: 10px 0 20px;
}
.line-fact span {
  background: #fff;
  padding: 0 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* footer */

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }


.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem; }

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d; }
  .blockquote-footer::before {
    content: "\2014\00A0"; }



/* .card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125); }
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px); } */

  .modal-dialog-scrollable .modal-header,
  .modal-dialog-scrollable .modal-footer {
    flex-shrink: 0; }
  .modal-dialog-scrollable .modal-body {
    overflow-y: auto; }



.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px); }
  .modal-footer > * {
    margin: 0.25rem; }



body,
html {
  margin: 0;
  padding: 0;
  background: var(--bg-lightgrey);
  color: var(--font-color);
  font-family: 'DM Sans', sans-serif; }


.d-grid {
  display: grid; }


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: 'DM Sans', sans-serif;
  letter-spacing: -.5px; }

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color); }



@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 1280px) {
  .container {
    max-width: 1200px; } }



@media only screen and (max-width: 800px) {
  #site-footer .copyright,
  #site-footer ul.footer-menu {
    text-align: center; } }


/* //stats */
.vsp-footer-main .vsp-sub-footer-content {
  background-image: linear-gradient(to right, rgba(8, 8, 8, 0.9), rgba(8, 8, 8, 0.9)); }

.vsp-footer-main ._form-3 .form-main {
  padding: 4.5rem 0px 0 0; }

.vsp-footer-main ._form-3 .middle-section {
  display: grid;
  grid-template-columns: .5fr 2fr 1.5fr;
  padding-top: 30px;
  align-items: center;
  padding-bottom: 30px;
  padding: 30px;
  background: var(--bg-color);
  grid-gap: 30px;
  border-radius: var(--border-radius-full); }

.vsp-footer-main ._form-3 .text-grid h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600; }

.vsp-footer-main ._form-3 .text-grid p {
  padding-top: 10px;
  font-size: 18px;
  line-height: 28px; }

.vsp-footer-main ._form-3 .form-text input {
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  color: var(--title-color);
  padding: 12px 20px;
  border: 1px solid var(--border-color-light);
  outline: none;
  background: var(--bg-color);
  border-radius: var(--border-radius); }

.vsp-footer-main ._form-3 .btn {
  display: block;
  font-size: 18px;
  width: 100%;
  margin-top: 5px; }

@media (max-width: 1080px) {
  .vsp-footer-main ._form-3 .middle-section {
    padding: 30px; } }

@media (max-width: 991px) {
  .vsp-footer-main ._form-3 .middle-section.grid-column {
    grid-template-columns: .5fr 2fr; }
  .vsp-footer-main ._form-3 .form-text.grid-three-column:nth-child(3) {
    grid-column: 1 / 3; } }

@media (max-width: 667px) {
  .vsp-footer-main ._form-3 .form-main {
    padding: 40px 0px 0; }
  .vsp-footer-main ._form-3 .middle-section {
    padding: 25px; } }

@media (max-width: 415px) {
  .text-grid.grid-three-column {
    grid-column: 1 / 3; }
  .vsp-footer-main ._form-3 .middle-section.grid-column {
    grid-template-columns: .5fr 1fr; } }

@media (max-width: 374px) {
  .vsp-footer-main ._form-3 .text-grid h2 {
    font-size: 22px;
    line-height: 28px; } }

.vsp-footer-main .footer-14 #footers14-block {
  padding: 4rem 0; }

.vsp-footer-main .footer-14 .grid-col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.vsp-footer-main .footer-14 .footers20 {
  background: #151617;
  padding: 60px 0; }

.vsp-footer-main .footer-14 .column {
  padding: 0 15px;
  border-right: 1px solid rgba(235, 236, 236, 0.13);
  text-align: center; }

.vsp-footer-main .footer-14 .column:last-child {
  border-right: 1px solid transparent; }

.vsp-footer-main .footer-14 .grids-content h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 600;
  position: relative; }

.vsp-footer-main .footer-14 .grids-content h4:before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 1px;
  bottom: -10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto; }

.vsp-footer-main .footer-14 .grids-content p,
.vsp-footer-main .footer-14 .grids-content p a {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #b9b9b9; }

.vsp-footer-main .footer-14 .grids-content p a:hover {
  color: #fff; }

.vsp-footer-main .footer-14 .column ul li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: block;
  background: #343434;
  border-radius: var(--border-radius); }

.vsp-footer-main .footer-14 .column ul li a:hover {
  background: #fff; }

.vsp-footer-main .footer-14 .column ul li span {
  color: #b9b9b9; }

.vsp-footer-main .footer-14 .column ul li {
  display: inline-block; }

.vsp-footer-main .footer-14 ul.links li a {
  font-size: 17px;
  line-height: 25px;
  color: #b9b9b9; }

.vsp-footer-main .footer-14 .footers14-bottom {
  margin-top: 50px;
  border-top: 1px solid rgba(130, 152, 171, 0.35);
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; }

.vsp-footer-main .footer-14 .language-select,
.vsp-footer-main .footer-14 .copyright {
  margin-top: 35px; }

.vsp-footer-main .footer-14 .copyright p {
  color: #adaaaa; }

.vsp-footer-main .footer-14 .copyright a {
  color: #fff; }

.vsp-footer-main .footer-14 .copyright a:hover {
  text-decoration: underline; }

.vsp-footer-main .footer-14 .language-select select {
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  position: relative;
  background: #343434;
  outline: none;
  width: 100%;
  font-size: 15px;
  color: #eee;
  height: 40px;
  text-align: left;
  -webkit-appearance: none;
  cursor: pointer;
  display: grid;
  grid-template-columns: .1fr 1fr;
  align-items: center;
  padding-left: 15px;
  padding-right: 35px;
  border: none;
  border-radius: 3px; }

.vsp-footer-main .footer-14 .language-select {
  margin-top: 35px;
  position: relative; }

.vsp-footer-main .footer-14 span.fa.fa-language {
  position: absolute;
  color: #eee;
  font-size: 16px;
  z-index: 9;
  right: 15px;
  top: 13px; }

.vsp-footer-main .footer-14 .language-select select:focus {
  outline: none; }

.vsp-footer-main .footer-14 #movetop {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 40px;
  height: 40px;
  background: #333;
  padding: 0;
  line-height: 40px;
  border-radius: var(--border-radius);
  transition: 0.5s ease-out; }

.vsp-footer-main .footer-14 #movetop:hover {
  background: var(--primary-color);
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
  transition: 0.5s ease-out;
  opacity: 1; }

@media all and (max-width: 992px) {
  .vsp-footer-main .footer-14 .grid-col-4 {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px; }
  .vsp-footer-main .footer-14 .column:nth-child(2) {
    border-right: none; } }

@media all and (max-width: 667px) {
  .vsp-footer-main .footer-14 ul.footer14-nav li {
    margin: 10px 20px 10px 0px; } }

@media all and (max-width: 568px) {
  .vsp-footer-main .footer-14 .footers14-bottom {
    text-align: center;
    flex-direction: column; }
  .vsp-footer-main .footer-14 .language-select {
    margin-top: 25px; }
  .vsp-footer-main .footer-14 .grids-content h4 {
    font-size: 20px;
    margin-bottom: 20px; } }

@media all and (max-width: 440px) {
  .vsp-footer-main .footer-14 ul.footer14-nav,
  .vsp-footer-main .footer-14 .footer14-app {
    margin-top: 2rem; }
  .vsp-footer-main .footer-14 .language-select,
  .vsp-footer-main .footer-14 .copyright {
    margin-top: 30px; }
  .vsp-footer-main .footer-14 #footers14-block {
    padding: 3rem 0; } }

@media all and (max-width: 415px) {
  .vsp-footer-main .footer-14 .grid-col-4 {
    grid-template-columns: 1fr;
    grid-row-gap: 30px; }
  .vsp-footer-main .footer-14 .column {
    border-right: none; } }

